.customer {
    margin-bottom: 100px;
  // .customer__container

  &__container {
  }

  // .customer__title

  &__title {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 44px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #333333;
    padding-bottom: 20px;
  }

  // .customer__subtitle

  &__subtitle {
    font-family: "Inter";
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #666666;
    padding-bottom: 54px;
  }

  // .customer__cards

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 21px;
  }

  // .customer__card

  &__card {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
  }

  &__card:hover {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-shadow: 0px 30px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: 0.5s;
  }

  // .customer__img

  &__img {
    text-align: center;
    padding: 20px 0 15px 0;
  }

  // .customer__name

  &__name {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-transform: capitalize;
    color: #333333;
    padding-bottom: 8px;
  }

  // .customer__star

  &__star {
    text-align: center;
    padding-bottom: 10px;
  }

  // .customer__desc

  &__desc {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #666666;
    padding: 0 10px 20px 10px;
  }
}
.container {
}
